.sven-container {
	
	padding: 0px 50px;
}

#header {
	
	border-top: 4px solid #000;
	margin-bottom:20px;
	background-color: #eee;

}

#header .nav-tabs {
	
	margin-bottom:0px;

}

#footer {
	border-top: 1px solid #DDD;
	margin-top: 30px;
	padding: 30px 50px;
	background-color: #EEE;
}

.highlight {
	font-weight:bold;
}

.maintitle {
	padding:30px 0px;
}

.maintitle h1 {
	text-shadow: 0px 1px white;
}

.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear:both;
}


.progress {
	display:none;
	width:300px;
}

.modal-gallery {
	width:100%;
	display:table;
	max-width:500px;
	margin-bottom:20px;
}

.file-info {
	width:100%;
	padding: 10px 0px;
	border-bottom:1px solid #DDD;
}

/* Documents list */

#documents-corpus {
	display:none;
}



/* Timeline */

#legend {
	padding:10px;
}

.legend {
	display:inline-block;
	font-size:10px;
	font-weight:bold;
	margin-right:1px;
	padding:2px;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3);
	
}

#timeline, .stack, .blocks {
	width:100%;
}

#timeline {
}

.blocks {
	height: 500px;
}

.title {
	font-size: 24px;
	font-weight:bold;
	color:#444444;
	text-shadow: 0px 1px 0px #fff;
}



path.doc {
	stroke:#ffffff;
	stroke-width:1;
}

.document-div {
	padding: 10px;
}



.light {
	color: #999;
}






svg {
  font: 8px sans-serif;
 }

.brush .extent {
	stroke: #fff;
	fill-opacity:.1;
	shape-rendering: crispEdges;
}

rect {
	shape-rendering: crispEdges;
}

rect.node, text.label {
	cursor:pointer;
}

.link {
	stroke:#000000;
	stroke-opacity:.1;
	fill:none;
}

.label {
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}


.fulltext {
	line-height: 20px;
	padding:20px;
	border: 1px solid #d5d5d5;
	background-color:#ffffff;
	overflow:auto;
	
}

.details {
	position:absolute;
	background-color:none;
	padding:20px;
	overflow:scroll;
	overflow-x:hidden;
}

.options {
	margin:10px 0;
}

.options .btn {
	margin-left:5px;
}

	
#tooltip {
	position:absolute;
	width:300px;
	background:white;
	border: 1px solid #d5d5d5;
	box-shadow: 0 0 7px 1px rgba(0,0,0,.1);
	z-index:1;
	font-family: arial, Helvetica, "Helvetica Neue",sans-serif;
	font-size:13px;
	display:none;
	}

#tooltip p {
	margin: 2px 0;
	}

.tooltip_border{
	background:#c27c70;
	height:0px;
	}

#info {
	padding:20px;
	border-bottom:0px solid #ddd;

	}

.date, .relation_type {
	color:#aaaaaa;
	font-size:90%;
	}
	
h3 {
	margin: 5px 0 5px 0;
	}
	
.actor {
	color:#999999;
	font-weight:bold;
	margin: 5px 0 15px 0;
	}

#info .relations{
	margin: 5px 0;
	}
	
#actions {
	padding:10px;
	}
	
.bold{
	font-weight:bold;
	}

.tags {
	margin-top:4px;
	}

.tag {
	display:inline-block;
}


/* Document */


#source_document, #target_document{
	width:34%;
	float: left;
	}
	

#source_document .tags {
	float: left;
	}
	
#target_document {
	border-left: 1px solid #ddd;
}	


.doc_info {
	float:left;
	height:100px;
}

.doc_title {
	text-transform: capitalize;
}

.doc_title h2 {
	font-size: 15px;
	margin-bottom: 5px;
}

.doc_actors {
	color: gray;
}

.doc_preview {
	background: #f1f1f1;
	border: 1px solid #ddd;
	margin-top: 35px;
	float:left;
}


/* PDF Viewer */

.pdf-container {
	height:500px;
	overflow:auto;
	background:#F3F3F4;
	text-align: center;
	}

.pageUp::before {
  content: url(images/toolbarButton-pageUp.png);
}

.pageDown::before {
  content: url(images/toolbarButton-pageDown.png);
}

.zoomOut::before {
  content: url(images/toolbarButton-zoomOut.png);
}
.zoomIn::before {
  content: url(images/toolbarButton-zoomIn.png);
}
.controls {
	padding: 4px;	
}

.btn-pdf {
	display:inline-block;
}

.text {
	float:left;
}



/* Relations */

.relations {
	width:28%;
	float:left;
	padding: 0 10px;
	margin-top: 100px;
}

.rel_doc {
	margin-top: 20px;
}
/*
.relation {
	border: 1px solid #999;
	padding: 15px;
	}

	*/


	/*
.tag {
	margin:2px 2px;
	opacity:.6;
	}

.tag, .arrow, .tag_cont, .tag_text, .tag_number {
	float:left;
	}

.tag_cont{

	}
	
.tag_text, .tag_number{
	color:rgba(255,255,255,.9);
	padding:6px;
	font-size:85%;
	font-weight:bold;
	}

.tag_text{
	background:#444;
	}

.tag_number{
	background:rgba(68,68,68,.7);
	border-left:1.5px  rgba(255,255,255,0.5);
	border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	}

.arrow{
	height:24px;
	width:11px;
	background:url('images/arrow.png') transparent center no-repeat;
	}
	*/

	/* Dynamics */

	#graph {
		width:100%;
		height:600px;
	}
