* {
	font-size: 13px;
}

.sven-container {
	padding: 0px 50px;
}


h3 {
	font-weight: normal;
}

#header {
	margin-bottom:20px;
	background-color: #eee;
}

#header .nav-tabs {
	
	margin-bottom:0px;

}

#footer {
	border-top: 1px solid #DDD;
	margin-top: 30px;
	padding: 30px 50px;
	background-color: #EEE;
}


.menu-icon {
	margin-right:5px;
	opacity:.5;
	background-image: url("../img/glyphicons-halflings.png");
}

.highlight {
	font-weight:bold;
}

.maintitle {
	padding:15px 0px;
}

.maintitle h2 {
	font-family: "soleil",sans-serif;
	font-style: normal;
	font-weight: 800;
}

.maintitle small {
	font-size: 12px;
	font-weight: 400;
}

.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear:both;
}


.progress {
	display:none;
	width:300px;
}

.modal-gallery {
	width:100%;
	display:table;
	max-width:500px;
	margin-bottom:20px;
}

.file-info {
	width:100%;
	padding: 10px 0px;
	border-bottom:1px solid #DDD;
}

.logout {
	margin-top: 15px;
}

/* Documents list */

#documents-corpus {
	display:none;
}



/* Timeline */

#legend {
	padding:10px;
}

.legend {
	display:inline-block;
	font-size:10px;
	font-weight:bold;
	margin-right:1px;
	padding:2px;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3);
	
}

#timeline, .stack, .blocks {
	width:100%;
}

#timeline {
}

#blocks {
	height: 500px;
}

.title {
	font-size: 24px;
	font-weight:bold;
	color:#444444;
	text-shadow: 0px 1px 0px #fff;
}



path.doc {
	stroke:#ffffff;
	stroke-width:1;
}

.document-div {
	padding: 10px;
}



.light {
	color: #999;
}

.toggle-link {
	cursor:pointer;
	opacity: .5;
}

.toggle-link:hover {
	opacity: 1;
}


.timeline-label {
	font-size: 11px;
	color: #444;
	fill: #444;
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}


svg {
  font: 8px sans-serif;
 }

.brush .extent {
	stroke: #fff;
	fill-opacity:.1;
	shape-rendering: crispEdges;
}

rect {
	shape-rendering: crispEdges;
}

rect.node, text.label {
	cursor:pointer;
}

.link {
	stroke:#000000;
	stroke-opacity:.5;
	fill:none;
	cursor:pointer;
}

.link:hover {
	stroke-opacity:.8;
}



.options {
	margin:10px 0;
}

.options .btn {
	margin-left:5px;
}

	/*
#tooltip {
	position:absolute;
	width:300px;
	background:white;
	border: 1px solid #d5d5d5;
	box-shadow: 0 0 7px 1px rgba(0,0,0,.1);
	z-index:1;
	font-family: arial, Helvetica, "Helvetica Neue",sans-serif;
	font-size:13px;
	display:none;
	}

#tooltip p {
	margin: 2px 0;
	}

.tooltip_border{
	background:#c27c70;
	height:0px;
	}
*/
#info {
	padding:20px;
	border-bottom:0px solid #ddd;

	}

.relation_type {
	color:#aaaaaa;
	font-size:90%;
	}

/*
h3 {
	margin: 5px 0 5px 0;
	}
*/
	
.actor {
	color:#999999;
	font-weight:bold;
	margin: 5px 0 15px 0;
	}

#info .relations{
	margin: 5px 0;
	}
	
#actions {
	padding:10px;
	}
	
.bold{
	font-weight:bold;
	}

.tags {
	margin-top:4px;
	}

.tag {
	display: inline-block;
	background-color: #DDD;
	text-shadow: none;
	color: white;
	padding: 3px 9px;
	font-weight: normal;
	line-height: 14px;
	margin: 1px;
}

.btn-toolbar {
	background: #F9F9F9;
	padding: 10px;
	
}


/* Document */


#source_document, #target_document{
	width:34%;
	float: left;
	}
	

#source_document .tags {
	float: left;
	}
	
#target_document {
	visibility:hidden;
}	

.sheet {
	margin: 20px;
	padding: 15px;
	background: white;	
	}
.doc-actor, .doc-date, .doc-title {
	padding:5px;
	display:table;
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
	cursor:pointer;
	text-overflow: ellipsis;
}

.doc-actor:hover, .doc-date:hover, .doc-title:hover {
	background-color:#EEE;
}

.doc-info {
	float:left;
	min-height:100px;
	border-bottom: 1px solid #DDD;
	width: 100%;
}

.doc-title {
	font-size:20px;
	overflow: hidden;
}

.doc-actor, .doc-date {
	color: #888;
}

.doc-date {
	
}

.doc_preview {
	background: #f1f1f1;
	border: 1px solid #ddd;
	margin-top: 15px;
	float:left;
}

.section-info {
	padding:10px 0px;
	clear: both;
}

.modal {
}


/* PDF Viewer */

.pdf-container {
	height:600px;
	background:#F3F3F4;
	overflow:auto;
	}
/*
.pageUp::before {
  content: url(images/toolbarButton-pageUp.png);
}

.pageDown::before {
  content: url(images/toolbarButton-pageDown.png);
}

.zoomOut::before {
  content: url(images/toolbarButton-zoomOut.png);
}
.zoomIn::before {
  content: url(images/toolbarButton-zoomIn.png);
}
.controls {
	padding: 4px;	
}

.btn-pdf {
	display:inline-block;
}

*/
.text {
	float:left;
}


.btn.disabled, .btn[disabled] {
	opacity: .25;
}

#filters {
}


.breath {
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
	padding: 10px 0px;
}

/*
#filters * {
	font-size:13px;
}
*/
.filter-block {
	margin-bottom:30px;
}

.filter-title {
	color: #888;
	font-size: 12px;
}


/* Relations */

.relations {
	width:28%;
	float:left;
	padding: 0 10px;
	margin-top: 100px;
}

.rel_doc {
	margin-top: 20px;
}
/*
.relation {
	border: 1px solid #999;
	padding: 15px;
	}

	*/


	/*
.tag {
	margin:2px 2px;
	opacity:.6;
	}

.tag, .arrow, .tag_cont, .tag_text, .tag_number {
	float:left;
	}

.tag_cont{

	}
	
.tag_text, .tag_number{
	color:rgba(255,255,255,.9);
	padding:6px;
	font-size:85%;
	font-weight:bold;
	}

.tag_text{
	background:#444;
	}

.tag_number{
	background:rgba(68,68,68,.7);
	border-left:1.5px  rgba(255,255,255,0.5);
	border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	}

.arrow{
	height:24px;
	width:11px;
	background:url('images/arrow.png') transparent center no-repeat;
	}
	*/


		label.valid {
		  width: 24px;
		  height: 24px;
		  background: url(images/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
		}
		label.error {
			font-weight: bold;
			color: red;
			padding: 2px 8px;
			margin-top: 2px;
		}

	/* Dynamics */

	#graph {
		width:100%;
		height:600px;
		border-left:1px solid #DDD;
	}

