# 
# ignore settings and all pyc files
#
settings.py
# manage.py
sven.wsgi
*.sublime-workspace
media/*
env/*
libs/*
*.pyc
*~
core/*~
anta/*~
.DS_Store
sven.db
anta/static/js/tooltipsy.min.js
*.db
*.log
*.db-journal
