<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>gui</title>

  <meta name="description" content="gui user interface">
  <meta name="author" content="SitePoint">

  <!-- stylesheets here -->
  <!--
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  
  <link rel="stylesheet" href="/static/sketch_ui/css/styles.css">
  -->
  <!-- stylesheets end -->
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="{{custom.STATIC_URL}}js/jquery.js"></script>
  <script src="{{custom.STATIC_URL}}js/api_sven.js"></script>
  <!-- d3 -->
  <script src="{{ custom.STATIC_URL }}js/d3/d3.v2.min.js"></script>
	
  <!-- Sven -->
  <script src="{{ custom.STATIC_URL }}js/sven/sven.js"></script>
  <!-- Sven Utils -->
  <script src="{{ custom.STATIC_URL }}js/sven/sven.utils.js"></script>
  <!-- Sven Time -->
  <script src="{{ custom.STATIC_URL }}js/sven/sven.time.js"></script>
  <!-- Sven Viz -->
  <script src="{{ custom.STATIC_URL }}js/sven/sven.viz.js"></script>
  
  <link rel="stylesheet" href="{{ custom.STATIC_URL }}css/style.css" type="text/css"/>
	
  {% block css_1 %}
  {% endblock %}

</head>

<body>

  
  {% block content %}
  {% endblock %}


  
  {% block js_body %}
  {% endblock %}


</body>
</html>