<!doctype html>
<html dir="ltr">
<head>

  <meta charset="utf-8">
  <title>Sven (alpha)</title>

  <meta name="description" content="gui user interface">
  <meta name="author" content="SitePoint">

  <!-- stylesheets here -->
  <!--
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  
  <link rel="stylesheet" href="/static/sketch_ui/css/styles.css">
  -->
  <!-- stylesheets end -->
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  
  <!-- jQuery -->
  <script src="{{custom.STATIC_URL}}js/jquery/jquery-1.7.2.min.js"></script>
  <script src="{{custom.STATIC_URL}}js/jquery/jquery-ui.min.js"></script>

  <!-- jQuery/ScrollTo -->
  <script src="{{custom.STATIC_URL}}js/jquery/jquery.scrollTo.js" type="text/javascript" ></script>
    
  <!-- d3 -->
  <script src="{{ custom.STATIC_URL }}js/d3/d3.v2.min.js"></script>
	
  <!-- Sven -->
  <script src="{{custom.STATIC_URL}}js/api_sven.js"></script>
  <script src="{{ custom.STATIC_URL }}js/sven/sven.js"></script>
  <!-- Sven Utils -->
  <script src="{{ custom.STATIC_URL }}js/sven/sven.utils.js"></script>
  <!-- Sven Time -->
  <script src="{{ custom.STATIC_URL }}js/sven/sven.time.js"></script>
  <!-- Sven Viz -->
  <script src="{{ custom.STATIC_URL }}js/sven/sven.viz.js"></script>
  
  <!-- Bootstrap -->
  <script src="{{ custom.STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="{{ custom.STATIC_URL }}css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="{{ custom.STATIC_URL }}css/bootstrap-responsive.css" type="text/css"/>
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ custom.STATIC_URL }}css/style_gui.css" type="text/css"/>
  <link rel="stylesheet" href="{{ custom.STATIC_URL }}css/smoothness/jquery-ui-1.8.22.custom.css" type="text/css"/>
  
  
	
  {% block css_1 %}
  {% endblock %}
  
    {% block js_head %}
  {% endblock %}

</head>

<body>
	
	

   	   <div id="header" >
       	<div class="sven-container">
			<div class="maintitle">
			<h1>Sven</h1>
			<small>alpha version</small>
			{% if user.is_authenticated %}
			<div class="logout" style="float:right">
				You are logged in as: <strong>{{ user }}</strong>
				<a href="{% url gui_logout %}" title="logout">Logout</a>
				
			</div>
			{% endif %}
			
			</div>
			<ul class="nav nav-tabs">
			  <li class="{% if active == 'documents' %} active {% endif %}"><a href="/gui/documents">Documents</a></li>
			  <li class="{% if active == 'timeline' %} active {% endif %}"><a href="/gui/timeline">Timeline</a></li>
			  <li class="{% if active == 'dynamics' %} active {% endif %}"><a href="/gui/dynamics">Dynamics</a></li>
			</ul>
			
			
			
			
			
			
			
		</div>
      </div>
			
	

  	<div class="sven-container">
		
	<div id="sven-alert">
		{% block sven-alert %}
	    {% endblock %}
	</div>
	
	<div id="content">
		{% block content %}
    	{% endblock %}
	</div>

  
  	{% block js_body %}
  	{% endblock %}
	</div>
	
	<div id="footer" class="sven-container">
		<p class="light small">Sven | <a href="http://www.denistydesign.org">DensityDesign Lab</a></p>
	</div>
	
</body>
</html>