  
  <div class="modal hide fade" id="deleteAlert">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Delete documents?</h3>
    </div>
    <div class="modal-body">
	
  	<div class="modal-message">
  	These documents will be permanently deleted and cannot be recovered. Are you sure?
  	</div>
	
  	<div class="modal-gallery">
  		
  	</div>
	
	  
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      	<span class="modal-upload btn btn-primary" data-loading-text="Deleting...">
		<span>Continue</span>
	</span>
    </div>
  </div>
 