{% extends "gui/base.html" %}

{% block js_head %}
	<!--<script type="text/javascript" src="{{custom.STATIC_URL}}js/pdf.js"></script>
	<script type="text/javascript" src="{{custom.STATIC_URL}}js/bootstrap/bootstrap-button.js"></script>
	<script type="text/javascript" src="{{custom.STATIC_URL}}js/bootstrap/bootstrap-typeahead.js"></script>
	<script type="text/javascript" src="{{custom.STATIC_URL}}js/bootstrap/bootstrap-tab.js"></script>-->
{% endblock %}


{% block content %}


<div id="source_document">
	<div class="doc-info">
		<span class="doc-date doc-source editable"></span>
		<span class="doc-title doc-source editable"></span>
		<span class="doc-actor doc-source"></span>
	</div>
	<div class="clear"></div>
	<div class="section-info"><strong>Entities</strong></div>
	<div class="tags"></div>
	
	<div class="doc_preview">
		<div class="text">
		
			<div class="pdf-container">
			<iframe id="iframe1" frameborder="0" width="100%" height="100%"></iframe>
			</div>
		
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>


<div class="relations">
	<div class="section-info"><strong>Relations</strong></div>
	
	<ul class="nav nav-tabs" id="select-relations">
	  <li  class="active"><a href="#all-relations" data-toggle="tab">Show all</a></li>
	  <li><a href="#new-relation" data-toggle="tab">Create a new</a></li>
	 
	</ul>
	
	<div class="tab-content">
	  <div class="tab-pane active" id="all-relations">
	  	
	  	<div class="updateResult">
	  		
	  	</div>
		<div class="rel_doc"></div>
		
	  </div>
	  
	  <div class="tab-pane" id="new-relation">
	  	
		<label>Select a document</label>
		<input id="search-document" type="text" data-provide="typeahead">
		
		<label>Type of relation</label>
		<div id="radio" class="btn-group" data-toggle="buttons-radio">
			  <button class="btn  btn-small" value="PPO">Very Positive</button>
			  <button class="btn  btn-small" value="POS">Positive</button>
			  <button class="btn btn-small" value="NEU">Neutral</button>
			  <button class="btn  btn-small" value="NEG">Negative</button>
			  <button class="btn  btn-small" value="NNE">Very Negative</button>
		</div>

		<label>Description</label>
		<textarea maxlength="50" id="description"></textarea>
		<div class="clear"></div>

		<div class="btn btn-info" id="addRelation">
			Add relation
		</div>

		<div class="clear"></div>
		<div class="addResult alert"></div>
		<div class="clear"></div>
		
	  </div>
	  
	</div>
	
	
	
	
	
	
	
	
</div>

<div id="target_document">
	
	<div class="doc-info">
		<span class="doc-date doc-target editable"></span>
		<span class="doc-title doc-target editable"></span>
		<span class="doc-actor doc-target"></span>
	</div>
	
	
	<div class="clear"></div>
	<div class="section-info"><strong>Entities</strong></div>
	<div class="tags"></div>
	
	<div class="doc_preview">
	<!--
		<div class="controls">
			<div class="btn-group">
			<span class="btn btn-small btn-inverse">
				<i class="pageUp"></i>
			</span>
			
			<span class="btn btn-small btn-inverse">
				<i class="pageDown"></i>
			</span>
			
			<span class="btn btn-small btn-inverse">
				<i class="zoomOut"></i>
			</span>
			
			<span class="btn btn-small btn-inverse">
				<i class="zoomIn"></i>
			</span>
			
			</div>
			
     	</div>
     	-->
		<div class="text">
		
			<div class="pdf-container">
				<iframe id="iframe2" frameborder="0" width="100%" height="100%"></iframe>
			</div>
		
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

<div class="clear"></div>
<div id="dialog-confirm" title="Delete relation?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 7px 0;"></span>These relation will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>




<!-- Editing -->
<div class="modal hide fade" id="editing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit</h3>
  </div>
  <div class="modal-body">
	  <label>Please provide a new value:</label>
	  <input type="text" id="editing-input"></input>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="editing-save">Save</button>
  </div>
</div>






{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}
<script src="{{ custom.STATIC_URL }}js/viewer.js" type="text/javascript"></script>
<script>
    var args = {};
	var corpusID = {{corpus.id}}; 
	args.corpus = corpusID;
    var id_document = {{ id_document }};
    $("#source_document .text").width($("#source_document").width());
    $("#source_document .text").height(600);
    $(window).resize(function() {
		$("#source_document .text").width($("#source_document").width());
	});
	$('#source_document').resize(function() {
		$("#source_document .text").width($("#source_document").width());
	});
	var pdfURL_source = '../../../anta/api/documents/download/' + {{ id_document }};
    
    
</script>
<script src="{{ custom.STATIC_URL }}js/single.js" type="text/javascript"></script>
<script>
	//var pdfURL = 'http://127.0.0.1:8000/anta/api/documents/download/' + {{ id_document }};
	//pdfViewer(pdfURL, 'source', 'container');
</script>

{% endblock %}