{% extends "gui/base.html" %}

{% block css_1 %}
	<link rel="stylesheet" href="{{ custom.STATIC_URL }}css/datepicker.css" type="text/css"/>
	<link rel="stylesheet" href="{{ custom.STATIC_URL }}css/jquery.fileupload-ui.css" type="text/css"/>
{% endblock %}

{% block js_head %}
	<!--<script src="{{ custom.STATIC_URL }}js/bootstrap/bootstrap-modal.js"></script>-->
    <script src="{{custom.STATIC_URL}}js/jquery/jquery.ui.widget.js" type="text/javascript" ></script>
    <script src="{{custom.STATIC_URL}}js/jquery/jquery.iframe-transport.js" type="text/javascript" ></script>
    <script src="{{custom.STATIC_URL}}js/jquery/jquery.fileupload.js" type="text/javascript" ></script>
    <script src="{{custom.STATIC_URL}}js/jquery/jquery.validate.min.js"></script>
    <script src="{{ custom.STATIC_URL }}js/bootstrap-datepicker.js"></script>
	
{% endblock %}



{% block content %}


<div id="documents-corpus">
	
	<p>Ok, it seems you have still to create a corpus for your documents. A corpus is like a collection of documents: all the analysis will be performed inside the documents of the corpus. You can easily create a new corpus entering a corpus name below and pressing the Create button.</p>

	  
</div> 


<div class="row-fluid">
		
    <!-- Filters -->
	<div class="span2" id="filters">
		<p class="breath"><strong>Corpora</strong></p>
		<div class="filter-block">
		<p class="filter-title">Create corpus</p>
	<div class="input-append">
  <input class="span8" id="corpus-name" placeholder="Corpus name" type="text">
  <button class="btn btn-primary" type="button" id="create-corpus">Create</button>
</div>
	  </div>
	  <div class="corpus-list filter-block">
	  </div>
		<p class="breath"><strong>Filters</strong></p>
	  
	  	<!-- Title -->
		<div class="filter-block">
			<p class="filter-title">By title</p>
			<input class="span8" id="filterContains" type="text" placeholder="Type here...">
		</div>
	  
		<!-- Dates -->
		<div class="filter-block">
			<p class="filter-title">By date</p>
			<div class="alert alert-error" id="alert">
				<strong></strong>
			</div>
			<div>
				<a href="#" class="small" id="dp1" data-date-format="yyyy-mm-dd" data-date="2000-01-01"><i class="icon-calendar"></i> Start date</a>
				<p id="startDate">2000-01-01</p>
			</div>
			<div>
				<a href="#" class="small" id="dp2" data-date-format="yyyy-mm-dd" data-date="2012-02-25"><i class="icon-calendar"></i> End date</a>
				<p id="endDate">2012-02-25</p>
			</div>
		</div>
	  
		<!-- Actors -->
	  	<div class="filterActors filter-block">
	  		<p class="filter-title">By actors</p>
	  	</div>

		<!-- Language -->		
		<div class="filterLang filter-block">
	  		<p class="filter-title">By language</p>		
		</div>
	  
    </div>
    <div class="span10">
		
		<p class="breath"><strong>Documents</strong></p>
		
		<div class="btn-toolbar">
		  <div class="btn-group">
		    <a class="btn btn-small tip" rel="tooltip" title="Upload new documents" href="#!" id="upload-button"><i class="icon-file"></i></a>
		    <a class="btn btn-small tip disabled" rel="tooltip" title="Delete documents" href="#!" id="delete"><i class="icon-trash"></i><span></span></a>
		  </div>
		  <div class="btn-group pull-right">
		    <a class="btn btn-small tip" rel="tooltip" title="Export entities as .csv" href="#!" id="export"><i class="icon-download"></i></a>
		    <a class="btn btn-small tip" rel="tooltip" title="Import entities from .csv" href="#!" id="import-button"><i class="icon-upload"></i></a>
		  </div>
		  
		</div>
		
     <div id="documents-list"></div>
    </div>
  </div>





{% include "gui/upload.html" %}
{% include "gui/import.html" %}
{% include "gui/delete.html" %}

{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}
<script>
    var args = {};
 	$(".tip").tooltip();
	var corpusID = {{corpus.id}}; 
	args.corpus = corpusID;
</script>

<script src="{{ custom.STATIC_URL }}js/documents.js" type="text/javascript"></script>

{% endblock %}