{% extends "gui/base.html" %}

{% block css_1 %}
	<link rel="stylesheet" href="{{ custom.STATIC_URL }}css/datepicker.css" type="text/css"/>
	<link href="{{ custom.STATIC_URL }}css/select2/select2.css" rel="stylesheet"/>

{% endblock %}

{% block js_head %}

    <script src="{{ custom.STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ custom.STATIC_URL }}js/select2/select2.js"></script>
    
	
{% endblock %}

{% block content %}



<div class="row-fluid">
	<div class="span2" id="filters">

		<p class="breath"><strong>Filters</strong></p>

		<!-- Cosine similarity -->
	  	<div class="filterSimilarity filter-block">
	  		<p class="filter-title">Set min similarity</p>
	  		<div id="slider-range-min"></div>
	  	</div>
	  
		<!-- Dates -->
		<div class="filter-block">
			<p class="filter-title">By date</p>
			<div class="alert alert-error" id="alert">
				<strong></strong>
			</div>
			<div>
				<a href="#" class="small" id="dp1" data-date-format="yyyy-mm-dd" data-date="2000-01-01"><i class="icon-calendar"></i> Start date</a>
				<p id="startDate">2000-01-01</p>
			</div>
			<div>
				<a href="#" class="small" id="dp2" data-date-format="yyyy-mm-dd" data-date="2012-02-25"><i class="icon-calendar"></i> End date</a>
				<p id="endDate">2012-02-25</p>
			</div>
		</div>
	  
		<!-- Actors -->
	  	<div class="filterActorsSelect filter-block">
	  		<p class="filter-title">By actors</p>
	  	</div>
		
		
		<!-- Language -->		
		<div class="filterLang filter-block">
	  		<p class="filter-title">By language</p>		
		</div>
	  
	
	</div>
	
	
	 <div class="span10">
	 	<div class="pull-right" id="zoomControl">
	 		<div class="btn" id="zoomIn" ><i class="icon-zoom-in"></i></div>
	 		<div class="btn" id="zoomOut"><i class="icon-zoom-out"></i></div>
	 		<div class="btn" id="zoomCenter"><i class="icon-fullscreen"></i></div>
	 	</div>
		<div class="pull-left" id="graph">
		</div>
		<div class="pull-left" id="stream">
		</div>
	</div>
</div>



{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}
<script>
    var args = {};
	var staticUrl = "{{custom.STATIC_URL}}";
	var corpusID = {{corpus.id}}; 
	args.corpus = corpusID;
	
	var actorArgs = {}
	actorArgs.corpus = corpusID;
	actorArgs.limit = -1; //prende TUTTI gli attori
</script>

<script src="{{ custom.STATIC_URL }}js/sigma/sigma.min.js" type="text/javascript"></script>
<script src="{{ custom.STATIC_URL }}js/sigma/sigma.forceatlas2.js" type="text/javascript"></script>

<script src="{{ custom.STATIC_URL }}js/dynamics.js" type="text/javascript"></script>

{% endblock %}
