  
  <div class="modal hide fade" id="import">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Upload new csv</h3>
    </div>
    <div class="modal-body">
      
	<span class="btn btn-success fileinput-button">
		<span>Choose files...</span>
		<input type="file" id="fileimport" name="csv[]">
	</span>
	
  	<div class="modal-message"></div>
	
  	<div class="modal-gallery">
  		
  	</div>
	
	
	<span class="modal-upload btn btn-primary">
		<span>Upload</span>
	</span>
	  
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  
 
 
 <script>
		
	
	
	api = new svenjs.Sven("");
	
	/* getting the first corpus...*/
	api.getCorpora(function(response){
		
		corpusID = response.results[0].id;

		
		
		
		$(function(){
			$("#fileimport").fileupload({
				dataType: 'json',
			add: function(e, data){
				
				data.url = "/anta/api/segments/import/corpus/" + corpusID + "/";
				
				d3.select("#import .modal-gallery")
					.append("div")
					.data([data])
					.attr("class","file-info")
					.text(function(d){
						console.log(d)
						return d.files[0].name;
					})
					.append("div")
					.attr("class","progress progress-striped active")
						.append("div")
						.attr("class","bar")
				
		      	d3.select("#import .fileinput-button")
		      		.style("display","none")
				
		      	d3.select("#import .modal-message")
		      		.style("display","inline")
					.html("<strong>The following files are ready to be imported:</strong>")
				
		      	d3.select("#import .modal-upload")
		      		.style("display","inline")
					.on("click",function(){
						data.submit();
					})
			},
				done: function(e, data){
					console.log(e, data.result, data);
				d3.select("#import .modal-upload")
					.on("click", function(){})
				
				d3.select("#import .file-info")
					.select(".progress")
					.style("display","none")
					
				d3.select("#import .file-info")
					.append("span")
					.attr("class","label label-success")
					.style("display","table")
					.style("margin-top","5px")
					.text("Uploaded")
				},
				fail: function( e, data ){
					console.log("failed!", data.error);
				},
				progressall: function(e, data){
					var progress = parseInt(data.loaded / data.total * 100, 10);
					console.log("progress:",progress)
				}

			});
				 $('#import-button').click(function(){
	 	
      	d3.select("#import .fileinput-button")
      		.style("display","inline")
		
		 d3.select("#import .progress")
			.style("margin-top","5px")
		 	.style("display","none")
		
		d3.select("#import .modal-message")
			.style("display","none")
			
   		 d3.select("#import .modal-upload")
   		 	.style("display","none")
		
		d3.select("#import .modal-gallery")
	 		.selectAll(".file-info")
			.remove()
		
		$('#import').modal();
 	
	 			});
		});
		
		$('#import').on('hidden',function(){
			
			window.location.reload();
			
			});


});

 </script>



