{% extends "gui/base.html" %}

{% block content %}

    <h1>gui list view</h1>
    <p>Seems like you're logged in as {{ user }}</p>
    
    <label>source: </label><input name="source" id="source"/><br/>
	<label>target: </label><input name="target" id="target"/><br/>
	<label>polarity: </label><input name="polarity" id="polarity"/><br/>
	<label>description: </label><input name="description" id="description"/><br/>
    <button id="add-relation">Add relation</button><br/>
    <br/>
    <label>limit :</label><input name="limit" id="limit"/><br/>
    <label>offset: </label><input name="offset "id="offset"/><br/>
    <button id="test-query">Test documents</button><br/>
    <button id="test-relations">Test relations</button><br/>
    <br/>
    <label>id: <input name="idDocument" id="idDocument"/><br/>
    <button id="test-document">Test document</button><br/>
    <button id="test-relation">Test relation</button><br/>
    <button id="delete-relation">Delete relation</button><br/>
	<br/>
    
    
    <div id="console-div"></div>


{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}

<script>

    var sven = new svenjs.Sven("http://127.0.0.1:8000");  
    
    //Helper function to log errors and results to our console div
    
    function logErrorsAndResults(response){
        /*
        var errors = response.errors;
        var results = response.results;
        if(results && results.length){
            $("#console-div").append("results:<br/>");
            var l = results.length;
            for(var i=0;i<l;i++){
                result = results[i];
                $("#console-div").append(JSON.stringify(result, null, 1) + "<br/>");
            }
        }
        
        $("#console-div").append("errors:" + errors + "<br/>");
		*/

		if (response.statusText){response = "error: " + response.statusText + " " + response.status};
		$("#console-div").append("results:<br/><pre>");
		$("#console-div").append(JSON.stringify(response, null, 4) + "</pre><br/>");
    }
    
	
	    
    $("#test-query").click(function(){
    
    	var limit = $("#limit").val();
    	var offset = $("#offset").val();
    	var args = {};
    	
		if (limit || offset){
    		args.limit = limit;
    		args.offset = offset;
    		}
    	
        sven.getDocuments(function(response){

            logErrorsAndResults(response)
        
        },args);
    
    });
    
    
    $("#test-relations").click(function(){
    
    	var limit = $("#limit").val();
    	var offset = $("#offset").val();
    	var args = {};
    	
		if (limit || offset){
    		args.limit = limit;
    		args.offset = offset;
    		}
    	
        sven.getRelations(function(response){

            logErrorsAndResults(response)
        
        },args);
    
    });
    
    

    $("#add-relation").click(function(){
    
    	var args = {};
    	
    	args.source = $("#source").val();
    	args.target = $("#target").val();
    	args.polarity = $("#polarity").val();
    	args.description = $("#description").val();
    	args.owner = {{ user.id }};
    	
    	console.log(args);
    	
        sven.addRelation(function(response){

            logErrorsAndResults(response)
        
        },args);
    
    });

    $("#delete-relation").click(function(){
    	
    	var id = $("#idDocument").val();
    	
        sven.deleteRelation(id, function(response){

            logErrorsAndResults(response)
        
        });
    
    });
    
    $("#test-document").click(function(){
    	
		var id = $("#idDocument").val();
    	var args = {};
    	
        sven.getDocument(id, function(response){
        
            logErrorsAndResults(response)

        },args);
    
    });

    $("#test-relation").click(function(){
    	
		var id = $("#idDocument").val();
    	var args = {};
    	
        sven.getRelation(id, function(response){
        
            logErrorsAndResults(response)

        },args);
    
    });
    


</script>



{% endblock %}
