{% extends "gui/base.html" %}

{% block css_1 %}
{% endblock %}

{% block js_head %}
	<script src="{{ custom.STATIC_URL }}js/bootstrap/bootstrap-modal.js"></script>
    <script src="{{custom.STATIC_URL}}js/jquery/jquery.ui.widget.js" type="text/javascript" ></script>
    <script src="{{custom.STATIC_URL}}js/jquery/jquery.iframe-transport.js" type="text/javascript" ></script>
    <script src="{{custom.STATIC_URL}}js/jquery/jquery.fileupload.js" type="text/javascript" ></script>
	
{% endblock %}



{% block content %}

 <h2>Login</h2>
 <p>Please provide with the information for your account.</p>
 

 {% if loginerror %}
	<div class="alert alert-error">Sorry, something went wrong. Please, be sure the information provided are correct and try again.</div>
 {% endif %}
 
 <form action="{% url gui_login %}" method="POST">
	{% csrf_token %}
    <input type="text" name="username" class="input" placeholder="User">
    <input type="password" name="password" class="input" placeholder="Password">
	<br/>
	<button type="submit" class="btn" value="login">Login</button>
 </form>


{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}
<script>
    var args = {};
</script>

{% endblock %}
