{% extends "gui/base.html" %}

{% block css_1 %}
	<link rel="stylesheet" href="{{ custom.STATIC_URL }}css/datepicker.css" type="text/css"/>
	<link href="{{ custom.STATIC_URL }}css/select2/select2.css" rel="stylesheet"/>

{% endblock %}

{% block js_head %}

    <script src="{{ custom.STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ custom.STATIC_URL }}js/select2/select2.js"></script>
    
	
{% endblock %}

{% block content %}



<div class="row-fluid">
	<div class="span2" id="filters">


		<p class="breath">
			<strong>Filters</strong>
			<a class="btn btn-mini pull-right tip" rel="tooltip" style="display:none;" id="reset" href="#!" title="Reset filters">reset</a>
		</p>
		<div class="filterMethods filter-block">
	  		<p class="filter-title">Method</p>
	  		<input type="hidden" name="option" value="max_tf" id="m-input" />
			<div class="btn-group" data-toggle="buttons-radio">
  				<button type="button" class="btn btn-mini active" value="max_tf" data-toggle="button">Tf</button>
  				<button type="button" class="btn btn-mini" value="max_tfidf" data-toggle="button">Tf/Idf</button>
			</div>
		</div>

		<div class="filterRel filter-block">
	  		<p class="filter-title">Related to</p>
	  		<input type="hidden" name="option" value="corpus" id="r-input" />
			<div class="btn-group" data-toggle="buttons-radio">
  				<button type="button" class="btn active btn-mini" value="corpus">Corpus</button>
  				<button type="button" class="btn btn-mini" value="actor">Actor</button>
			</div>
		</div>

		<!-- Dates -->
		<div class="filter-block">
			<p class="filter-title">By date</p>
			<div class="alert alert-error" id="alert" style="display:none;">
				<strong></strong>
			</div>
			<div>
				<a href="#" class="small" id="dp1" data-date-format="yyyy-mm-dd" data-date="2000-01-01"><i class="icon-calendar"></i> Start date</a>
				<p id="startDate">2000-01-01</p>
			</div>
			<div>
				<a href="#" class="small" id="dp2" data-date-format="yyyy-mm-dd" data-date="2012-02-25"><i class="icon-calendar"></i> End date</a>
				<p id="endDate">2012-02-25</p>
			</div>
		</div>
	  
		<!-- Actors -->
	  	<div class="filterActorsSelect filter-block">
	  		<p class="filter-title">By actors</p>
	  	</div>
		
		
		<!-- Language -->		
		<div class="filterLang filter-block">
	  		<p class="filter-title">By language</p>		
		</div>
	  
	
	</div>
	
	
	 <div class="span10">
	 
	 		<p class="breath"><strong>Streamgraph</strong></p>
		
		<div class="btn-toolbar">
			<div class="btn-group pull-right">
			<div class="btn btn-small tip " rel="tooltip" title="Resize streamgraph" id="resize"><i class="icon-resize-small"></i></div>
		    <div class="btn btn-small tip " rel="tooltip" title="Expand streamgraph" id="expand"><i class="icon-resize-full"></i></div>
		  	</div>
		  <div class="clear"></div>
		</div>
	 	
	 	<div id="stream_container">
	 	<div class="loader"></div>
		<div id="stream">
		</div>
		</div>
	</div>
</div>

<div class="tooltip desc">
<div class="tooltip-inner"></div>
</div>


{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}
<script>
    var args = {};
	var staticUrl = "{{custom.STATIC_URL}}";
	var corpusID = {{corpus.id}}; 
	args.corpus = corpusID;
	
	var actorArgs = {}
	actorArgs.corpus = corpusID;
	actorArgs.limit = -1; //prende TUTTI gli attori
	
	var streamArgs = {};
	$(".tip").tooltip();
</script>

<script src="{{ custom.STATIC_URL }}js/stream.js" type="text/javascript"></script>

{% endblock %}
