{% extends "gui/base.html" %}



{% block content %}


<div id="legend" class="dropdown">

</div>

<div id="timeline">
</div>
 

<div class="tooltip desc">
<div class="tooltip-inner"></div>
</div>

</div> 
</div>



{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}
<script>
    var args = {};
    var linkSvg = "{{ custom.STATIC_URL }}/css/images/link2.svg";
</script>

<script src="{{ custom.STATIC_URL }}js/time.js" type="text/javascript"></script>

{% endblock %}
