  
  <div class="modal hide fade" id="uploads">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Upload new documents</h3>
    </div>
    <div class="modal-body">
      
	<span class="btn btn-success fileinput-button">
		<span>Choose files...</span>
		<input id="fileupload" type="file" name="files[]" multiple>
	</span>
	
  	<div class="modal-message"></div>
	
  	<div class="modal-gallery">
  		
  	</div>
	
	
	<span class="modal-upload btn btn-primary">
		<span>Upload</span>
	</span>
	  
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  
 
 
 <script>
	
	var uploadedFiles = [];
	
	
	api = new svenjs.Sven("");
	
	$.validator.addMethod(
    "regex",
    function(value, element, regexp) {
        var check = false;
        var re = new RegExp(regexp);
        return this.optional(element) || re.test(value);
    },
    "No special Characters allowed here."
);
	
	
	$(function(){
		
		function submitAll(){
		
			d3.select("#uploads .modal-gallery")
				.selectAll("div.file-info")
				.each(function(d){
					console.log(d)
					d.sven_target = this;
					var title = d3.select(this).select(".titleInput").property("value");
					var lang = d3.select(this).select(".langInput").property("value");
					var date = d3.select(this).select(".dateInput").property("value");
					date.replace("/","-");
					date = date + " 00:00";
					var actors = d3.select(this).select(".actorInput").property("value");
					var actorsTag = [];
					actors = actors.split(/\s*,\s*/);
					for(i in actors){
						actorsTag.push('{"type":"actor","name":"' + actors[i] +'"}');
						};
					//d.url = "{% url anta_api_documents %}?corpus=" + corpusID + "&language=" + lang + "&title=" + title + "&ref_date=" + date + "&tags=[" + actorsTag +"]";
				    d.url = "{% url anta_api_documents %}?corpus=" + args['corpus'] + "&language=" + lang + "&title=" + title + "&ref_date="+ date + "&tags=[" + actorsTag +"]";
					//d.url = "{% url anta_api_documents %}?corpus=" + args['corpus'] + "&language=" + lang + "&title=" + title + "&tags=[" + actorsTag +"]";
					console.log(d.url);
					d.submit();
				})
		} 
		
		
		
		$("#fileupload").fileupload({
			
			dataType: 'json',
			
			done: function(e, data){				
				
				console.log(e, data.result, data);
				
				d3.select("#uploads .modal-upload")
					.on("click", function(){})
				
				d3.select(data.sven_target)
					.select(".progress")
					.style("display","none")
					
				d3.select(data.sven_target)
					.append("span")
					.attr("class","label label-success")
					.style("display","table")
					.style("margin-top","5px")
					.text("Uploaded")
				
				uploadedFiles.push(data.files[0].name)
				
			},
			
			add: function(e, data){
				
				//data.url = "{% url anta_api_documents %}?corpus=" + corpusID;
				
				var docInfo = {};
				var fileName = data.files[0].name;
				var fileNameSplit = fileName.split('_', 4);
				function fillInfo(){
					
					if (fileNameSplit.length == 4){
					var date = fileNameSplit[2];
					var y = date.slice(0,4);
					var m = date.slice(4,6);
					var d = date.slice(6,8);
					docInfo.actor = fileNameSplit[0].split('-');
					docInfo.lang = fileNameSplit[1];
					docInfo.date = y + "-" + m + "-" + d;
					docInfo.title = fileNameSplit[3].split('.')[0];
					}
					else{
					docInfo.actor = '';
					docInfo.lang = '';
					docInfo.date = '';
					docInfo.title = fileNameSplit[0].split('.')[0];
						}
						};
				fillInfo();
				
				var single = d3.select("#uploads .modal-gallery")
					.append("div")
					.data([data])
					.attr("class","file-info")
					.text(function(d){
						console.log(d)
						
						return d.files[0].name;
					})
					
					single.append("div")
					.attr("class","progress progress-striped active")
					.append("div")
					.attr("class","bar")
					
					var singleFile = single.append("form")
					.attr("class", "form-horizontal contact-form")
					//.attr("id", "contact-form")
					.attr("action", "")
					.append("fieldset")

					singleFile.selectAll("div.control-group")
					.data(d3.map(docInfo).entries()).enter()
					.append("div")
					.attr("class","control-group")
						.append("label")
						.attr("class","control-label")
						.attr("for",function(d){
						return d.key + "Input";})
						.text(function(d){
						return d.key;})
					
					singleFile.selectAll("div.control-group")
					.append("div")
					.attr("class","controls")
					.append("input")
					.attr("class", function(d){
						return d.key + "Input";})
					.attr("name", function(d){
						return d.key + "Input";})
					.attr("type", "text")
					.attr("placeholder", function(d){
						return d.key;})
					.attr("value", function(d){
						return d.value})
					


		      	d3.select("#uploads .fileinput-button")
		      		.style("display","none")
				
		      	d3.select("#uploads .modal-message")
		      		.style("display","inline")
					.html("<strong>The following files are ready to be uploaded:</strong>")
			
					
				$('.contact-form').each(function(){
    				$(this).validate({
	    rules: {
	      titleInput: {
	        minlength: 1,
	        required: true,
	        regex: /^[A-Za-z0-9\d=-\s]+$/
	      },
	      langInput: {
	      	maxlength: 2,
	        required: true
	      },
	      dateInput: {
	        required: true,
	        dateISO: true
	      },
	      actorInput: {
	        minlength: 1,
	        required: true,
	        regex: /^[A-Za-z0-9\d=-\s,]+$/
	      }
	    },
	    highlight: function(label) {
	    	$(label).closest('.control-group').addClass('error');
	    },
	    success: function(label) {
	    	label
	    		.text('OK!').addClass('valid')
	    		.closest('.control-group').addClass('success');
	    }
	  });
	  });
	  
	  
	    	d3.select("#uploads .modal-upload")
		      		.style("display","inline")
					.on("click",function(){
						var check = true;
						$('.contact-form').each(function(){
							if(!$(this).valid()){check = false}
							
							});
						
						if(check){	
							submitAll();
							}
						else{return}
						
					})
					
			},

			fail: function( e, data ){
				
				console.log(e, data);
				d3.select("#uploads .modal-upload")
					.on("click", function(){})
				
				
				d3.select(data.sven_target)
					.select(".progress")
					.style("display","none")
					
				d3.select(data.sven_target)
					.append("span")
					.attr("class","label label-important")
					.style("display","table")
					.style("margin-top","5px")
					.text("NOT uploaded")
				
			},
			
			progress: function(e,data){
			
					
						
				d3.select(data.sven_target)
					.select(".progress")
					.style("display","block")
				
				d3.select(data.sven_target)
					.select(".bar")
					.style("width", function(d){
						var progress = parseInt(data.loaded / data.total * 100, 10);
						return progress/100*300 +"px";
				})
				
			}
		})
	});
 	
	
	 $('#upload-button').click(function(){
	 	
      	d3.select("#uploads .fileinput-button")
      		.style("display","inline")
		
		 d3.select("#uploads .progress")
			.style("margin-top","5px")
		 	.style("display","none")
		
		d3.select("#uploads .modal-message")
			.style("display","none")
			
   		 d3.select("#uploads .modal-upload")
   		 	.style("display","none")
		
		d3.select("#uploads .modal-gallery")
	 		.selectAll(".file-info")
			.remove()
		
		$('#uploads').modal()
		
		
		/* When finishing uploading... */
		
		$('#uploads').on('hidden',function(){
			
			if (!uploadedFiles.length)
				return;
			//var args = {}
			args['limit'] = uploadedFiles.length;
			api.startAnalysis(args['corpus'], function(response){
				
				console.log(response);
				window.location.reload()
				
			}, args)
			
			
		})
 	
	 })
	
 </script>



