  
  <div class="modal hide fade" id="uploads">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Upload new documents</h3>
    </div>
    <div class="modal-body">
      
	<span class="btn btn-success fileinput-button">
		<span>Choose files...</span>
		<input id="fileupload" type="file" name="files[]" multiple>
	</span>
	
  	<div class="modal-message"></div>
	
  	<div class="modal-gallery">
  		
  	</div>
	
	
	<span class="modal-upload btn btn-primary">
		<span>Upload</span>
	</span>
	  
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  
 
 
 <script>
	
	var corpusID,
		uploadedFiles = [];
	
	
	api = new svenjs.Sven("");
	
	/* getting the first corpus... */
	api.getCorpora(function(response){
		corpusID = response.results[0].id;
	})
	
	
	$(function(){
		
		function submitAll(){
		
			d3.select(".modal-gallery")
				.selectAll("div.file-info")
				.each(function(d){
					console.log(d)
					d.sven_target = this;
					d.submit();
				})
		} 
		
		
		
		$("#fileupload").fileupload({
			
			dataType: 'json',
			
			done: function(e, data){				
				
				d3.select(".modal-upload")
					.on("click", function(){})
				
				d3.select(data.sven_target)
					.select(".progress")
					.style("display","none")
					
				d3.select(data.sven_target)
					.append("span")
					.attr("class","label label-success")
					.style("display","table")
					.style("margin-top","5px")
					.text("Uploaded")
				
				uploadedFiles.push(data.files[0].name)
				
			},
			
			add: function(e, data){
				
				data.url = "{% url anta_api_documents %}?corpus=" + corpusID;
				
				d3.select(".modal-gallery")
					.append("div")
					.data([data])
					.attr("class","file-info")
					.text(function(d){
						console.log(d)
						return d.files[0].name;
					})
					.append("div")
					.attr("class","progress progress-striped active")
						.append("div")
						.attr("class","bar")
				
		      	d3.select(".fileinput-button")
		      		.style("display","none")
				
		      	d3.select(".modal-message")
		      		.style("display","inline")
					.html("<strong>The following files are ready to be uploaded:</strong>")
				
		      	d3.select(".modal-upload")
		      		.style("display","inline")
					.on("click",function(){
						submitAll()
					})
			},

			fail: function( e, data ){
				
				d3.select(".modal-upload")
					.on("click", function(){})
				
				
				d3.select(data.sven_target)
					.select(".progress")
					.style("display","none")
					
				d3.select(data.sven_target)
					.append("span")
					.attr("class","label label-important")
					.style("display","table")
					.style("margin-top","5px")
					.text("NOT uploaded")
				
			},
			
			progress: function(e,data){
				d3.select(data.sven_target)
					.select(".progress")
					.style("display","inline")
				
				d3.select(data.sven_target)
					.select(".bar")
					.style("width", function(d){
						var progress = parseInt(data.loaded / data.total * 100, 10);
						return progress/100*300 +"px";
				})
				
			}
		})
	});
 	
	
	 $('#upload-button').click(function(){
	 	
      	d3.select(".fileinput-button")
      		.style("display","inline")
		
		 d3.select(".progress")
			.style("margin-top","5px")
		 	.style("display","none")
		
		d3.select(".modal-message")
			.style("display","none")
			
   		 d3.select(".modal-upload")
   		 	.style("display","none")
		
		d3.select(".modal-gallery")
	 		.selectAll(".file-info")
			.remove()
		
		$('#uploads').modal()
		
		
		/* When finishing uploading... */
		
		$('#uploads').on('hidden',function(){
			
			if (!uploadedFiles.length)
				return;
			var args = {}
			args['limit'] = uploadedFiles.length;
			api.startAnalysis(corpusID, function(response){
				
				console.log(response);
				window.location.reload()
				
			}, args)
			
			
		})
 	
	 })
	
 </script>



