<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>anta / {% block title %}{% endblock %}</title>
		<!-- HTML 5 stylesheet -->
		<link rel="stylesheet" href="{{custom.STATIC_URL}}/css/style.css"/>
		
		<!-- fonts embedding -->
		<link rel="stylesheet" type="text/css" href="{{custom.STATIC_URL}}/css/fonts.css"/>
				
		<!-- less Stylesheet -->
		<link rel="stylesheet/less" type="text/css" href="{{custom.STATIC_URL}}/css/style.less"/>
		<script src="{{custom.STATIC_URL}}/js/less-1.3.0.min.js" type="text/javascript"></script>
		
  		
		{% block custom_head %}<!-- view-specific stylesheets -->{% endblock %}
	
		
	</head>
	<body>
		<!-- note for the developer :
			 extend the block custom_body inside your middle.html template -->
		{% block custom_body %}
		
		{% endblock %}
		
		<!-- jquery lib -->
		<script src="{{custom.STATIC_URL}}/js/jquery-1.7.1.min.js"></script>
  		
  		<!-- toast message plugin, http://akquinet.github.com/jquery-toastmessage-plugin/ use with ds.toast.show( "message" ) -->
		<script src="{{custom.STATIC_URL}}/js/jquery.toastmessage.js" type="text/javascript"></script>
		
		{% block custom_plugins %}<!-- jquery view-specific plugins -->{% endblock %}
		
		<script src="{{custom.STATIC_URL}}/js/bootstrap.transition.js" type="text/javascript"></script>
  		<script src="{{custom.STATIC_URL}}/js/bootstrap.modal.js" type="text/javascript"></script>
  		
  		<!-- dime-shs core function (initalisables, resizables) + specific panelist function. extends dime-shs.js "ds." namespace -->
  		<script src="{{custom.STATIC_URL}}/js/anta.js" type="text/javascript"></script>
  		
		<!-- window pseudo ready functions -->
		<script type="text/javascript">
			
			// ds.initialisables.push("ds.m.init");
			
			{% block custom_api_urls %}{% endblock %}
			{% block custom_javascript_init %}{% endblock %}
			
			anta.init();
			
		</script>
	</body>	
</html>