{% extends "anta/boilerplate.html" %}
{% load i18n %}
{% load extras %}

{% block custom_body %}
	
	{% block custom_header %}
	<header>
		<div id="top-line"></div>
		<div id="logo">
			<img src="{{ custom.STATIC_URL }}/img/anta-logo.png"/>
		</div>
		<div id="header-inner">
			<i>Anta</i>{{ custom.ANTA_STATIC_URL }}
			
			<div id="header-messages" class="header-messages retina-icon" style="display:none"></div>
			
			{% if user.is_authenticated %}
			<div class="menu-item">
				<a href="{% url anta_logout %}" title="{% trans "logout" %}"><h3>{% trans "LOGOUT" %}</h3></a>
			
			</div>
			{% endif %}
			
			{% block custom_header_content %}
				
			{% endblock %}
			
			
			
			
		</div>
		<div id="header-shadow"></div>
	</header>
	{% endblock %}
	
	<div id="wrapper">
		<sidebar ng-controller="CorpusController">
			{% verbatim %}
			<p>User corpus: {{ objects.length }}</p>
			{% endverbatim %}
			{% block custom_sidebar %}
			
			<!-- user profile -->
			<div id="profile" class="pseudo-section">
				
			
				
				<div class="gravatar floating">
					<img src="{{ user.email|gravatar }}" alt="{{ user.username }}"/>
				</div>
				<div class="user-specs floating">
					{% if user.first_name or user.first_name %}
						{{ user.first_name }} {{ user.last_name }}
					{% else %}
						{{ user.username }}
					{% endif %}
				</div>
				<div class="clear"></div>
			</div>
			
			<ul id="corpora" class="pseudo-section">
				{% for c in corpora %}
					
					
					{% if preferences.corpus_id == c.id %}
						<li class="selected"><b>{{ c.name }}</b></li>
					{% else %}
						<li><a href="{% url anta_index %}?switch-corpus={{c.id}}">{{ c.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			
			{% block custom_sidebar_content %}{% endblock %}
			
			
			
			{% endblock %}
		</sidebar>
		
		
		<section >
			{% block custom_section %}

			{% endblock %}
			<!-- white bordered page -->
			<div id="page">
			{% block custom_page %}
				
		
			{% endblock %}
			</div>
			
		</section>
		<div class="clear"/>
			
		
		{% block magics  %}

		{% endblock %}
		
		<!-- footer>
			hello
		</footer -->
	</div>
{% endblock %}

{% block custom_api_urls %}
	anta.vars.corpus_id = {{ preferences.corpus_id }};

	anta.urls = {
		upload: "{% url anta_api_documents %}?corpus=" + anta.vars.corpus_id,
		get_documents: "{% url anta_api_documents %}?corpus=" + anta.vars.corpus_id,
		view_document: "{% url anta_document 0 %}"
	};
	
{% endblock %}


