{% extends "anta/middle.html" %}
{% load i18n %}
{% load extras %}


{% block custom_page %}
	<h1>{% trans "upload file"%}</h1>
	<input type="file" id="fileupload" name="files[]" multiple>
	{% verbatim %}
	<ul ng-controller="DocumentController">
		<li ng-repeat="document in objects">
			{{ document.title }}
		</li>
	</ul>
	{% endverbatim %}
{% endblock %}

{% block custom_plugins %}
	<script src="{{ custom.STATIC_URL }}js/jquery.ui.widget.js"></script>
	<script src="{{ custom.STATIC_URL }}js/jquery.iframe-transport.js"></script>
	<script src="{{ custom.STATIC_URL }}js/jquery.fileupload.js"></script>
	<script>
		$(function(){
			$("#fileupload").fileupload({
				url:'{% url anta_api_documents %}?corpus=1&language=FR&title=custom title&ref_date=2008-01-02 22:00&tags=[{"type":"actor","name":"ONG"},{"type":"actor","name":"ONG"}]',
				dataType: 'json',
				done: function(e, data){
					console.log(e, data.result);
				},
				fail: function( e, data ){
					console.log("failed!", data.error);
				},
				progressall: function(e, data){
					var progress = parseInt(data.loaded / data.total * 100, 10);
					console.log("progress:",progress)
				}

			})

		});
	</script>


{% endblock %}